{% extends "layout/home/template.twig" %}
{% block title %}{{titulo}} {% endblock %}

{% block content %}

<!-- /.login-logo -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 bg-gray-300" style="padding-top: 9rem;">

    <p class="text-center text-gray-700">Debe iniciar sesión para continuar</p>
    {% include "partials/_messages.twig" %}

    <form class="max-w-sm mx-auto" action="{{BASE}}{{process}}" method="post">
        <div class="mb-5">
            <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Tu Email</label>
            <input type="email" id="email" name="email"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                placeholder="Tu correo electrónico" required />
        </div>
        <div class="mb-5">
            <label for="password" class="block mb-2.5 text-sm font-medium text-heading">Tu Password</label>
            <input type="password" id="password" name="password"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
                placeholder="Tu password" required />
        </div>
        <input type="hidden" name="send" value="{{send}}">
        <button type="submit"
            class="text-white font-bold bg-blue-700 box-border border border-transparent hover:bg-blue-500 focus:ring-4 focus:ring-brand-medium shadow-md leading-5 rounded-base text-sm px-4 py-2.5">Ingresar</button>
    </form>

    <div class="text-center">
        <p class="my-2"><a href="#">¿Olvidó su password?</a></p>
        <p class="mb-0">
            <a href="#" class="text-center">Regístrese </a>
        </p>

    </div>

</div>
{% endblock %}